In [1]:
%matplotlib inline

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jamestown,US,2021-10-09 21:38:09,42.0970,-79.2353,67.59,89,90,8.01
1,1,Nhulunbuy,AU,2021-10-09 21:42:17,-12.2333,136.7667,77.61,88,57,5.75
2,2,Nanortalik,GL,2021-10-09 21:42:17,60.1432,-45.2371,36.21,83,6,5.57
3,3,Kapaa,US,2021-10-09 21:39:00,22.0752,-159.3190,84.18,72,40,5.99
4,4,Rikitea,PF,2021-10-09 21:42:18,-23.1203,-134.9692,74.39,81,100,18.32

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Nhulunbuy,AU,2021-10-09 21:42:17,-12.2333,136.7667,77.61,88,57,5.75
3,3,Kapaa,US,2021-10-09 21:39:00,22.0752,-159.3190,84.18,72,40,5.99
16,16,Avarua,CK,2021-10-09 21:39:27,-21.2078,-159.7750,78.85,53,40,5.75
23,23,Vaini,TO,2021-10-09 21:42:24,-21.2000,-175.2000,77.16,83,20,3.44
25,25,Sao Filipe,CV,2021-10-09 21:42:25,14.8961,-24.4956,80.56,74,3,9.66
26,26,Tanout,NE,2021-10-09 21:42:25,14.9709,8.8879,87.28,13,80,7.81
27,27,Boone,US,2021-10-09 21:41:59,39.0334,-92.3335,87.46,63,100,1.99
28,28,Abnub,EG,2021-10-09 21:42:26,27.2696,31.1511,75.42,37,0,5.73
31,31,Mahibadhoo,MV,2021-10-09 21:42:27,3.7833,72.9667,83.10,76,92,13.82
32,32,Atuona,PF,2021-10-09 21:42:28,-9.8000,-139.0333,78.12,71,9,18.50

In [13]:
preferred_cities_df.count()

City_ID       169
City          169
Country       169
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1    Nhulunbuy      AU     77.61 -12.2333  136.7667
3        Kapaa      US     84.18  22.0752 -159.3190
16      Avarua      CK     78.85 -21.2078 -159.7750
23       Vaini      TO     77.16 -21.2000 -175.2000
25  Sao Filipe      CV     80.56  14.8961  -24.4956
26      Tanout      NE     87.28  14.9709    8.8879
27       Boone      US     87.46  39.0334  -92.3335
28       Abnub      EG     75.42  27.2696   31.1511
31  Mahibadhoo      MV     83.10   3.7833   72.9667
32      Atuona      PF     78.12  -9.8000 -139.0333

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Nhulunbuy,AU,77.61,-12.2333,136.7667,East Arnhem Real Estate
3,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
16,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
23,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
25,Sao Filipe,CV,80.56,14.8961,-24.4956,Hotel Xaguate
26,Tanout,NE,87.28,14.9709,8.8879,
27,Boone,US,87.46,39.0334,-92.3335,Cottonwoods RV Park
28,Abnub,EG,75.42,27.2696,31.1511,Romany Adly Gad
31,Mahibadhoo,MV,83.10,3.7833,72.9667,Omadhoo Inn
32,Atuona,PF,78.12,-9.8000,-139.0333,Villa Enata

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))